.video-calling-container {
  width: 100%;
  display: flex;
  overflow: auto;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-vr-colors-beige);
}
.video-calling-container1 {
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.video-calling-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: center;
}
.video-calling-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  justify-content: center;
}
.video-calling-feature-card {
  width: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: flex-start;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  border-radius: 20px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.video-calling-feature-card:hover {
  transform: scale(1.02);
}
.video-calling-text {
  align-self: center;
  border-radius: 300px;
  margin-bottom: var(--dl-space-space-twounits);
}
.video-calling-icon {
  width: 152px;
  height: 99px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  border-radius: 100px;
  background-color: var(--dl-color-vr-colors-lightgreen);
}
.video-calling-feature-card1 {
  width: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: flex-start;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  border-radius: 20px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.video-calling-feature-card1:hover {
  transform: scale(1.02);
}
.video-calling-text3 {
  margin-bottom: var(--dl-space-space-twounits);
}
.video-calling-icon2 {
  width: 155px;
  height: 100px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  border-radius: 50px;
  background-color: var(--dl-color-vr-colors-lightgreen);
}
.video-calling-feature-card2 {
  width: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: flex-start;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  border-radius: 20px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.video-calling-feature-card2:hover {
  transform: scale(1.02);
}
.video-calling-text4 {
  align-self: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.video-calling-icon4 {
  width: 169px;
  height: 98px;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  border-radius: 100px;
  background-color: var(--dl-color-vr-colors-lightgreen);
}
