.post-comp-container {
  width: 275px;
  height: auto;
  display: flex;
  position: relative;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: flex-start;
  border-radius: 20px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.post-comp-text {
  fill: var(--dl-color-vr-colors-darkgreen);
  color: var(--dl-color-vr-colors-darkgreen);
  align-self: center;
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.post-comp-textarea {
  width: auto;
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-vr-colors-lightgreen);
}
.post-comp-button {
  align-self: flex-end;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  transition: 0.3s;
  border-width: 0px;
  margin-right: var(--dl-space-space-threeunits);
  border-radius: 20px;
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-vr-colors-lightgreen);
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.post-comp-button:hover {
  fill: var(--dl-color-gray-white);
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
.post-comp-button:active {
  fill: var(--dl-color-gray-white);
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
.post-comp-root-class-name {
  margin-top: 48px;
  margin-left: var(--dl-space-space-twounits);
}
